.menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  border-radius: 8px;
  background-color: var(--primary-foreground);
}

.menuLogo {
  display: flex;
  align-items: center;
  justify-content: center;
}
