.searchInput {
  position: relative;
  flex-grow: 1;
  display: flex;

  & > figure {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32;
    height: 32;
  }

  & > input {
    flex-grow: 1;
    padding: 12px 16px 12px 48px;
    font-size: 18px;
    color: var(--primary-color);
    border: 2px solid transparent;
    border-radius: 8px;
    transition: border-color 200ms ease;
    background-color: var(--secondary-background);

    &:focus {
      outline: none;
      border-color: var(--tertiary-background);
    }
  }
}
