.likeButton {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;

  &:disabled {
    opacity: 0.5;
  }

  &:hover {
    border-color: var(--secondary-foreground);
    transition: border-color 200ms ease;
  }

  & > figure {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 24px;
    height: auto;
    max-height: 24px;
  }

  & > span {
    color: var(--secondary-foreground);
    font-size: 0.85rem;
    font-weight: 500;
  }
}
